block vars
doctype html
html(lang="ru").no-js
    include includes/head.jade

    body
        include includes/header.jade
        section
            div.container
                div.starter-template
                    h1.text-center #{currentPageTitle && currentPageTitle.length > 0 ? currentPageTitle : 'Название страницы'}
                    block block-content






    include includes/footer.jade
