block vars
doctype html
html(lang="ru").no-js
    include includes/head.jade

    body

        include includes/header.jade
        section
            div.wrapper-content
                block block-content






    include includes/footer.jade
