extends layouts/_default
block vars
    -var currentPageTitle = "Решение задач по CSS"

block title
    title=currentPageTitle


block block-content
    ol
        li
            p css-задача 1. Предложите способы реализации:
            ul
                li полупрозрачного фона под текстом;
                li полупрозрачной рамки вокруг текста;
                li блока с текстом относительно страницы.
            br

            p
                strong Решение:
            ul
                li полупрозрачного фона сделан через rgba и для браузеров не поддерживающих, указан дополнительный background
                li полупрозрачной рамки вокруг текста сделан через rgba и для браузеров не поддерживающих, указан дополнительный border
                li блока с текстом относительно страницы сделан через position: absolute
            br
            include modules/info-block

        li
            p css-задача 2 Реализовать список, если высота элементов списка неизвестна и зависит от текста внутри элемента.
            p
                strong Решение:
            p Сделано через display: inline-block.

            include modules/list-info


        li
            p css-задача 3. Реализовать список, если ширина картинок неизвестна, при этом блок с текстом должен быть выровнен по правому краю картинки. Реализовать треугольную стрелочку у каждого блока.
            p
                strong Решение:
            p Сделано через display: table-cell.

            include modules/list-news




