/* layout
========================================================================== */
body
  padding-top: 50px;
  position: relative
  min-height: 100%
  border-box()

html
  height: 100%

.starter-template
  padding: 40px 0
section
  padding-bottom 100px
.bs-docs-footer
  padding 10px 0
  position: absolute
  left 0
  bottom 0
  width 100%
  background #eee
  color: #767676;
  border-top: 1px solid #e5e5e5;
base-font()
	font-family: Arial, sans-serif;
	font-size 14px
	color #383435
content-center(w = 100%, h = w, important = false )
	important = (important == true ? !important : )
	position relative
	width w important
	height h important

	> *
		position absolute
		top 0 important
		bottom 0 important
		left 0 important
		right 0 important
		margin auto important
		max-height 100%
		max-width 100%
size(w, h = w)
	width w
	height h
	
border-box()
	box-sizing padding-box
	box-sizing border-box
	
background-clip()
	background-clip padding-box


// in css -> images("test.png")
images(file)
	url( $img_path + file )
	
trans()
	transition all 0.2s

trans-none()
	transition all 0s
clear()
	&:after
		content ''
		display table
		clear both

// in css -> columns(5)
columns(count)
	.column-{count}
		width floor( (95% / count), 1 )
		display inline-block
		vertical-align top

// in css -> width-perc(15)
width-perc(perc)
	.perc-{perc}
		width: (perc)%
		

// in css -> blur(20)
blur(px)
	filter unquote('progid:DXImageTransform.Microsoft.Blur(PixelRadius="' + px + '")')
	-webkit-filter unquote('blur(' + px + 'px)')
	-o-filter unquote('blur(' + px + 'px)')
	-ms-filter unquote('blur(' + px + 'px)')
	-moz-filter unquote('blur(' + px + 'px)')
	filter unquote('blur(' + px + 'px)')

// in css -> opacity(0.2) or  opacity(20)
opacity(val)
	if val > 1
		val = val/100
	opacity val
	zoom 1
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity="' + val*100 + '")')


// in css -> background-size(cover)
background-size(value)
	background-size value


// in css with inset -> box-shadow-inset(0, 0, 10px, rgba(0,0,0,0.5))
// in css  -> box-shadow(0, 0, 10px, rgba(0,0,0,0.5))
box-shadow-inset(x, y, r, color)
	box-shadow inset x y r color

box-shadow-outer( x, y, r, color)
	box-shadow x y r color


// in css with inset -> text-shadow(5px, 1px, 5px, #000)
text-shadow(x, y, r, color)
	text-shadow x y r color

// in css with inset -> gradient-linear(#000, #fff)
gradient-linear(top, bottom)
	background linear-gradient(top, bottom)

// in css -> text-ellipsis(100px) or text-ellipsis(80%)
_text-overflow(width_value = 'none')
	white-space nowrap
	text-overflow ellipsis
	line-height: normal;
	overflow hidden
	if width_value != 'none'
		width width_value