/* layout
========================================================================== */
body
  padding-top: 50px;
  position: relative
  min-height: 100%
  border-box()

html
  height: 100%

.starter-template
  padding: 40px 0
section
  padding-bottom 100px
.bs-docs-footer
  padding 10px 0
  position: absolute
  left 0
  bottom 0
  width 100%
  background #eee
  color: #767676;
  border-top: 1px solid #e5e5e5;