.list-info
	position relative
	margin-bottom 40px
	&-ctn
		font-size 0
		line-height 0
		margin 0 -2%
	&-item
		display inline-block
		vertical-align top
		width 21%
		font-size 12px
		line-height normal
		border 10px solid #336699
		border-box()
		padding 10px
		background #ffffff
		margin 0 2% 25px